{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ user_prof }}</h2>
    <p hidden id="user-name">{{ user_prof_id }}</p>
    
    
    <button class="btn btn-sm btn-outline-primary" id="user-post">Posts</button>
    <button class="btn btn-sm btn-outline-primary" id="user-following">Following {{ following_count }}</button>
    <button class="btn btn-sm btn-outline-primary" id="user-follower">Follower {{ follower_count }}</button>

    <div id="posts-view">
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}